<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoalexandriavirtual"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlexandriaVirtual20">

        <activity
            android:name=".AdmAMain"
            android:exported="true" />
        <activity
            android:name=".AMain"
            android:exported="true" />
        <activity
            android:name=".AdmTelaHistoricoEmpres"
            android:exported="false" />
        <activity
            android:name=".AdmTelaAdicionarAdm"
            android:exported="false" />
        <activity
            android:name=".AdmInfoPessoais"
            android:exported="false" />
        <activity
            android:name=".AdmTelaCabReservHorEsp"
            android:exported="false" />
        <activity
            android:name=".AdmTelaCabReservComNome"
            android:exported="false" />
        <activity
            android:name=".AdmTelaHoraCab"
            android:exported="false" />
        <activity
            android:name=".AdmTelaEditEvent"
            android:exported="true" />
        <activity
            android:name=".AdmTelaAdicionEvent"
            android:exported="true" />
        <activity
            android:name=".AdmTelaEventos"
            android:exported="true" />
        <activity
            android:name=".AdmTelaCadastUsu"
            android:exported="true" />
        <activity
            android:name=".AdmTelaInfoUsu"
            android:exported="true" />
        <activity
            android:name=".AdmTelaUsuCadast"
            android:exported="true" />
        <activity
            android:name=".AdmTelaCadasProd"
            android:exported="false" />
        <activity
            android:name=".AdmTelaEditarProduto"
            android:exported="false" />
        <activity
            android:name=".AdmTelaProdutos"
            android:exported="false" />
        <activity
            android:name=".TelaLivrosFavUsu"
            android:exported="true" />
        <activity
            android:name=".TelaRedefinirSenha"
            android:exported="false" />
        <activity
            android:name=".TelaConfirmReservaUsu"
            android:exported="false" />
        <activity
            android:name=".TelaCabDisponUsu"
            android:exported="false" />
        <activity
            android:name=".TelaHoraCabineUsu"
            android:exported="false" />
        <activity
            android:name=".TelaInformacoesUsu"
            android:exported="false" />
        <activity
            android:name=".TelaSolicitaPendUsu"
            android:exported="true" />
        <activity
            android:name=".TelaHistoricoUsu"
            android:exported="true" />
        <activity
            android:name=".TelaReviewUsu"
            android:exported="true" />
        <activity
            android:name=".TelaMeusLivrosUsu"
            android:exported="true" />
        <activity
            android:name=".TelaRetirarLivroUsu"
            android:exported="true" />
        <activity
            android:name=".TelaAvaliacoesUsu"
            android:exported="true" />
        <activity
            android:name=".TelaEmprestLivrosUsu"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".TelaMenuEmprestUsu"
            android:exported="false" />
        <activity
            android:name=".TelaCapacitacoesUsu"
            android:exported="false" />
        <activity
            android:name=".TelaLevantBibliogUsu"
            android:exported="false" />
        <activity
            android:name=".TelaInfoAtividadeUsu"
            android:exported="true" />
        <activity
            android:name=".TelaAtividadesUsu"
            android:exported="true" />
        <activity
            android:name=".TelaInfoEventoUsu"
            android:exported="true" />
        <activity
            android:name=".TelaEventosFuturUsu"
            android:exported="true" />
        <activity
            android:name=".TelaInfoLivroUsu"
            android:exported="false" />
        <activity
            android:name=".TelaNotificacoesUsu"
            android:exported="true" />
        <activity
            android:name=".TelaCadastro"
            android:exported="false" />
        <activity
            android:name=".TelaEmail"
            android:exported="true" />
        <activity
            android:name=".TelaLogin"
            android:exported="true" />
        <activity
            android:name=".TelaSplash"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>